@font-face {
    font-family: 'MonaSans-Bold';
    src: url('../media/fonts/MonaSans-Bold.ttf') format('truetype');
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h1{
    font-family: MonaSans-Bold,Arial, Helvetica, sans-serif;
    text-align: center;
}

.aContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 10px;
}

a{
    text-decoration: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    border-radius: 15px;

    background-color: #DFE4E8;
    color: black;
    width: 150px;
    height: 200px;

    transition: ease 0.3s;
}

a:hover{
    transform: scale(1.05);
}

i{
    font-size: 70px;
}
