@font-face {
    font-family: 'MonaSans-Medium';
    src: url('../media/fonts/MonaSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'MonaSans-Bold';
    src: url('../media/fonts/MonaSans-Bold.ttf') format('truetype');
}

.contenedor{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;

}

/*CODIGO DEL HEADER*/

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    width: 200px;
    height: 100px;

    margin-bottom: 2rem;
}

header p{
    font-family: MonaSans-Medium, Arial, Helvetica, sans-serif;
    font-size: clamp(20px, 2.6vw, 24px) !important;
    text-align: center;
}

header p:nth-child(3){
    font-size: clamp(30px, 2.6vw, 24px) !important;
    margin-bottom: 2rem;
}

/*CODIGO DEL MAIN*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.basicForm{
    position: relative;

    height: 500px;
    width: 462px;

    border-radius: 12px;
    border: 4px solid rgba(255, 255, 255, .5019607843);

    box-shadow: 0 0 100px rgb(84, 71, 201);
}

form{
    border-radius: 12px;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding-top: 2.5rem;
    padding-bottom: 1.5rem;
    padding-left: 4rem;
    padding-right: 4rem;

    width: 100%;
    height: 100%;
}

form h3{
    font-size: 24px !important;
}

form h4{
    font-size: 20px !important;
}

form p{
    font-size: 14px !important;
    text-align: center;
}

form a{
    font-size: 14px !important;
    text-align: center;
    color: #DFE4E8;
}

form input{
    width: 100%;
    height: 44px;

    padding: 0 13px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    outline: none;
}

form button{
    background-color: #6b5ffd;
    color: #DFE4E8;

    font-size: 18px;
    font-family: MonaSans-Bold,Arial, Helvetica, sans-serif;

    width: 100%;
    height: 44px;
    border-radius: 8px;
    border: none;
    padding: 0 13px;
    cursor: pointer;
}


/*imagenes 3D*/

.sizefigures{
    position: absolute;
    z-index: -100;

    width: 220px;
    height: 220px;
    
    animation: updown 4s ease-in-out infinite;
}

.hcPosition{
    top: 45%;
    left: -10rem;
}

.hpPosition{
    right: -10rem;
    top: 1%;
}

.astro img{
    position: absolute;
    z-index: 100;
}

.astro img:nth-child(2){
    width: 369px;
    height: 145px;

    bottom: -6rem;
    right: 6rem;

    animation: updown 4s ease-in-out infinite;
}

.astro img:nth-child(1){
    width: 500px;
    height: 214px;

    right: -3rem;
    bottom: -8rem;
}


.magia{
    background-color: #2b2d31;
    min-height: 74px !important;

    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    padding-right: .75rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;

    border-radius: .5rem;
}


@keyframes updown {
    0%{transform: translateY(5px);}
    50%{transform: translateY(-5px);}
    100%{transform: translateY(5px);}
}