@font-face {
    font-family: 'MonaSans-Bold';
    src: url('../media/fonts/MonaSans-Bold.ttf') format('truetype');
}

body{
    background-color: white;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 300px;
    height: 150px;
}

h1{
    font-family: MonaSans-Bold,Arial, Helvetica, sans-serif;
    font-size: 44px;
    color: #172B4D;
    text-align: center;

    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

h3{
    color: #172B4D;
    font-size: 32px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1.25rem;
    margin-top: 2.5rem;
    width: 405px;
}

form p{
    color: #172B4D;
    font-size: 20px;
}

form input{
    padding: 1px 11px;
    border-radius: 8px;
    border: 2px solid #e5e7eb;
    font-size: 18px;
    width: 100%;
    height: 43px;

    outline: #4573D2;
}

form input:focus{
    border: 2px solid #4573D2;
}

form button{
    background-color: #4573D2;
    color: white;
    font-size: 18px;
    height: 44px;
    width: 100%;
    border-radius: 8px;
    border: none;
    padding: 0 13px;
    
}


